{%extends 'Moh_profile/base.html'%}

{% load tailwind_filters %}

{%load static%}

{%block title%}About Us{%endblock%}

{%block body%}
  <section class="bg-white w-full h-full mt-0 mb-4 md:flex sm:block">
     <img src="../static/images/malawi-gh_0.jpg" alt="" class="md:w-1/2 mt-0 sm:w-full">
    <div class=" mx-auto my-auto p-4 sm:w-full sm:block">
     <h1 class="text-green-900 text-sm md:text-2xl text-capitalize text-center font-medium md:font-extrabold">About ministry of health</h1>
     <p class="text-black text-sm text-capitalize font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus, aliquam possimus tenetur aperiam blanditiis odit harum libero vel at totam laborum laudantium a commodi et enim alias repellendus non itaque nisi? Fugit, vitae impedit. Harum voluptatibus possimus enim dolor.</p>
    </div>
  </section>
  <section class="md:flex ml-auto md:justify-between md:mr-2 w-full">
    <div class="card bg-green-900 md:w-64 sm:w-full">
      <img src="../static/images/minister.jpg" alt="" class="w-full object-cover">
      <h4 class="font-bold text-white text-capitalize text-center">Honorable Minister of health</h4>
      <p class="text-black text-sm text-center">Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="card bg-green-900 md:w-64 sm:w-full">
      <img src="../static/images/minister.jpg" alt="" class="w-full object-cover">
      <h4 class="font-bold text-white text-capitalize text-center">Deputy Minister of health</h4>
      <p class="text-black text-sm text-center">Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="card bg-green-900 md:w-64 sm:w-full">
      <img src="../static/images/minister.jpg" alt="" class="w-full object-cover">
      <h4 class="font-bold text-white text-capitalize text-center">Principle Secretary for Health</h4>
      <p class="text-black text-sm text-center">Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="card bg-green-900 md:w-64 sm:w-full">
      <img src="../static/images/minister.jpg" alt="" class="w-full object-cover">
      <h4 class="font-bold text-white text-capitalize text-center">Chief administrator for health</h4>
      <p class="text-black text-sm text-center">Lorem ipsum dolor sit amet.</p>
    </div>
  </section>
  
  
{%endblock%}