{%extends 'Moh_profile/base.html'%}

{% load tailwind_filters %}

{%load static%}


{%block title%}MOH admin{%endblock%}

{%block body%}
<div class="w-full h-full mt-0 py-6">
  <h1 class="text-gray-900 text-4xl mt-16 mx-auto font-extrabold text-capitalize">Choose a form bellow</h1>
  <div class="tabs w-full h-full mt-16 relative mx-auto">
    <button class="open-modal bg-green-500 px-6 py-2 relative cursor-pointer border border-bottom-white text-white text-2xl font-bold rounded-sm hover:bg-green-700 border border-gray-900 ">Covid19 Data Form</button>
    <button class="open-modal bg-green-500 px-6 py-2 relative cursor-pointer border border-bottom-white text-white text-2xl font-bold rounded-sm hover:bg-green-700">Health Events Form</button>
    <button class="open-modal bg-green-500 px-6 py-2 relative cursor-pointer border border-bottom-white text-white text-2xl font-bold rounded-sm hover:bg-green-700">Documents Form</button>
    <button class="open-modal bg-green-500 px-6 py-2 relative cursor-pointer border border-bottom-white text-white text-2xl font-bold rounded-sm hover:bg-green-700">Health Priorities form</button>
  </div>
</div>
<!--forms start here-->


{%endblock%}