{%extends 'Moh_profile/base.html'%}

{%load static%}

    {%block body%}
      <section class="top__section relative flex h-full mx-auto w-full">
        <div class="top__left relative w-full h-full">
          <img src="../static/images/moh.jpg" alt="">
        </div>
        <div class="bg-grey-300 h-full w-full mt-32">
          <ul class="block w-11/12 my-4 mx-auto" x-data="{selected:null}">
              <li class="flex align-center flex-col">
                  <h4 @click="selected !== 0 ? selected = 0 : selected = null"
                      class="cursor-pointer px-5 py-3 bg-indigo-300 text-white text-center inline-block hover:opacity-75 hover:shadow hover:-mb-3 rounded-t">MOH Mission</h4>
                  <p x-show="selected == 0" class="border py-4 px-2">
                      This is made with Alpine JS and Tailwind CSS
                  </p>
              </li>
              <li class="flex align-center flex-col">
                  <h4 @click="selected !== 1 ? selected = 1 : selected = null"
                      class="cursor-pointer px-5 py-3 bg-indigo-400 text-white text-center inline-block hover:opacity-75 hover:shadow hover:-mb-3">MOH Vision</h4>
                  <p x-show="selected == 1" class="border py-4 px-2">
                       There's no external CSS or JS
                  </p>
              </li>
          </ul>
        </div>
      </section>
      <!-- managers and disease priorities -->
      <section class=" flex h-full w-full p-4 bg-green-700 container mx-auto text-center top-0 mb-8">
        
        <div class="diseases__list--box md:ml-8 justify-start border border-green-900 w-1/3 text-center my-auto mx-auto shadow-2xl ">
          <h5 class="diseases__list--title bg-green-600 text-white py-3 text-uppercase">High Priority diseases</h5>
          <ul class="diseases__list--items bg-white text-black">
            <section class="table-section">
              <table class=" table table-striped w-96 table-auto px-8 ml-auto relative mx-auto" colspan="4">
                <thead class="bg-green-700 text-center text-white w-full">
                <tr class="px-8">
                  <th>Priority</th>
                  <th>Disease</th>
                  <th>Content url</th>
                </tr>
                </thead>
                <tbody class="bg-white text-center text-black py-4">
                  {%for health in health_priorities%}
                  <tr class= "">
                      <td>{{health.priority}}</td>
                      <td>{{health.disease}}</td>
                      <td><li><a href="">{{health.content_url}}</a></li></td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
          </ul>
        </div>
        
          <div class=" md:flex md:flex-row md:justify-center md:text-center md:px-4 md:py-4 md:m-2 md:gap-2 md:w-2/3 px-16 container mx-auto text-center">
            {%for event in mohevents%}
            <div class="news__card card flex border border-green-900">
              <img src="{{event.event_image.url}}" alt="doctors" class="md:w-full">
              <h5 class="text-green-800 text-2xl text-uppercase">{{event.event_title}}</h5>
              <p class="text-gray-900 text-sm">
                {{event.event_content}}
              </p>
              <small class="text-gray-900 text-sm">{{event.event_date}}</small>
              <button class="bg-green-900 text-white border-none outline-none rounded-md px-4 hover:bg-green-800"><a href="{%url 'events'%}" class="text-white">Read more</a></button>
            </div>
            {%empty%}
            <h5 class="text-gray-800 text-2xl text-uppercase">No events or news to show</h5>
            {%endfor%}
        
          </div>
      
        <div class="hospital__list--box md:ml-16 justify-end border border-green-900 w-1/3 text-center my-auto mx-auto container">
          <h5 class="hospital__list--title bg-green-600 text-white text-uppercase py-3">List of Central Hospitals</h5>
          <ul class="hospital__list--items bg-white text-black">
            <li class="hospital__list--item"><a href="" class="hospital__link">Kamuzu Central Hospital</a></li>
            <li class="hospital__list--item"><a href="" class="hospital__link">Queen Elizabeth Central Hospital</a></li>
            <li class="hospital__list--item"><a href="" class="hospital__link">Zomba Central Hospital</a></li>
            <li class="hospital__list--item"><a href="" class="hospital__link">Zomba Mental Hospital</a></li>
            <li class="hospital__list--item"><a href="" class="hospital__link">Mzuzu Central Hospital</a></li>
          </ul>
        </div>
       
      </section>

      <section class="covid-img w-full text-center h-full relative mb-4 mt-4 container mx-auto text-center">
        <img src="../static/images/covid-guide.jpg" alt="" srcset="" class="w-full text-center center">
      </section>
      <section class="table-section container mx-auto text-center">
        <table class=" table table-striped w-96 table-auto px-8 ml-auto relative mx-auto" colspan="4">
          <thead class="bg-green-700 text-center text-white w-full">
          <tr class="px-8">
            <th>Date</th>
            <th>new cases</th>
            <th>Active cases</th>
            <th>Recovered cases</th>
            <th>currently admitted</th>
            <th>New tests</th>
            <th>New discharges</th>
            <th>New Deaths</th>
          </tr>
          </thead>
          <tbody class="bg-white text-center text-black py-4">
            {%for covid19 in covid19_data%}
            <tr class= "">
                <td>{{covid19.date}}</td>
                <td>{{covid19.new_cases}}</td>
                <td>{{covid19.active_cases}}</td>
                <td>{{covid19.new_recovered}}</td>
                <td>{{covid19.currently_admitted}}</td>
                <td>{{covid19.new_tests_conducted}}</td>
                <td>{{covid19.new_discharges}}</td>
                <td>{{covid19.new_deaths}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </section>
     
    {%endblock%}
  
