{%extends 'Moh_profile/base.html'%}

{%load static%}

    {%block body%}
      <section class="top__section relative flex h-full mx-auto w-full">
        <div class="top__left relative w-full h-full mt-16">
          <img src="../static/images/moh.jpg" alt="" class="container m-2 ">
        </div>
        <div class="bg-white h-full w-full mt-4 px-4">
          <ul class="block w-11/12 my-4 mx-auto" x-data="{selected:null}">
              <li class="flex align-center flex-col">
                  <h4 @click="selected !== 0 ? selected = 0 : selected = null"
                      class="cursor-pointer px-5 py-3 bg-gray-900 text-white text-center border border-bottom border-white mt-4 inline-block hover:opacity-75 hover:shadow hover:-mb-3">MOH Mission</h4>
                  <p x-show="selected == 0" class="border py-4 px-2">
                    The Mission of the Ministry of Health and Population is to provide strategic leadership for the delivery of a comprehensive range of quality, accessible, and efficient health services to all Malawians through the creation and sustenance of a strong health system.
                  </p>
              </li>
              <li class="flex align-center flex-col">
                  <h4 @click="selected !== 1 ? selected = 1 : selected = null"
                      class="cursor-pointer px-5 py-3 bg-gray-900 text-white text-center inline-block hover:opacity-75 hover:shadow hover:-mb-3">MOH Vision</h4>
                  <p x-show="selected == 1" class="border py-4 px-2">
                    The Vision of the health sector is to achieve a state of health for all the people of Malawi that would enable them to lead a quality and productive life 
                  </p>
              </li>
          </ul>
        </div>
      </section>
{%for event in mohevents%}
{%endfor%}

      <!-- this is the news and events section -->
      <div class="events row  h-full relative container">
        <div class="col-md-8 ">
          <section class=" w-full text-center top-0 mb-8">
            <div class="h-full w-full grid grid-cols-1 justify-center text-center px-0 py-0 m-2 gap-2 px-0 mx-auto text-center">
              {%for event in mohevents%}
              <div class="event__card card border-none shadow-2xl w-full h-full">
                <img src="{{event.event_image.url}}" alt="events" class="md:w-full h-full object-fit">
                <h5 class="text-gray-900 text-2xl text-uppercase font-extrabold">{{event.event_title}}</h5>
                <p class="event__content text-black text-sm p-4">
                  {{event.event_content}}
                </p>
                  <p class="text-black">Eventcategory:<small class="text-black text-sm">{{event.event_category}}</small></p>
                  <p class="text-black">Event Author:<small class="text-black text-sm">{{event.Newsauthor}}</small></p>
                <small class="text-gray-900 text-sm">{{event.event_date}}</small>
                <button class="bg-gray-900 text-white  border-none  outline-none w-64 text-center px-5 py-2 mx-auto m-2 rounded-lg  hover:bg-gray-800"><a href="{%url 'events'%}" class="text-white font-bold">Read more</a></button>
              </div>
              {%empty%}
              <h5 class="text-gray-800 text-2xl text-uppercase">No events or news to show</h5>
              {%endfor%}
          
            </div>
        </div>

        <div class="col-md-4 px-4">
          <aside class=" gap-4 w-full relative float-right mb-4">

            <div class="mb-4 md:ml-8 border border-none text-center my-auto mx-auto shadow-xl ">
              <h5 class="diseases__list--title bg-green-900 text-white py-3 text-uppercase">High Priority diseases</h5>
              <ul class="diseases__list--items bg-white text-black">
                <section class="table-section">
                  <table class=" card table table-striped w-full table-auto px-8 ml-auto relative mx-auto" colspan="4">
                    <thead class="bg-gray-900 text-center text-white w-full">
                    <tr class="px-8">
                      <th>Priority</th>
                      <th>Disease</th>
                      <th>Content url</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white text-center text-black py-4">
                      {%for health in health_priorities%}
                      <tr class= "">
                          <td>{{health.priority}}</td>
                          <td>{{health.disease}}</td>
                          <td><li><a href="">{{health.content_url}}</a></li></td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
              </ul>
            </div>
        
          <div class="card shadow-3xl border-none w-full text-center container">
            <h5 class="bg-green-900 text-white text-uppercase py-4">List of Central Hospitals</h5>
            <ul class="hospital__list--items bg-white text-black">
              <li class="hospital__list--item"><a href="" class="hospital__link">Kamuzu Central Hospital</a></li>
              <li class="hospital__list--item"><a href="" class="hospital__link">Queen Elizabeth Central Hospital</a></li>
              <li class="hospital__list--item"><a href="" class="hospital__link">Zomba Central Hospital</a></li>
              <li class="hospital__list--item"><a href="" class="hospital__link">Zomba Mental Hospital</a></li>
              <li class="hospital__list--item"><a href="" class="hospital__link">Mzuzu Central Hospital</a></li>
            </ul>
          </div>
        </aside>
         
        </div>
      </div>

      <!--end of news section-->


     <!--this is the covid19 section-->
      <section class="covid-img w-full text-center h-full relative mb-4 mt-0 container mx-auto text-center">
        <img src="../static/images/covid-guide.jpg" alt="" srcset="" class="w-full text-center center">
      </section>
      <section class="table-section container mx-auto text-center">
        <table class=" table table-striped w-96 table-auto px-8 ml-auto relative mx-auto" colspan="4">
          <thead class="bg-green-700 text-center text-white w-full">
          <tr class="px-8">
            <th>Date</th>
            <th>new cases</th>
            <th>Active cases</th>
            <th>Recovered cases</th>
            <th>currently admitted</th>
            <th>New tests</th>
            <th>New discharges</th>
            <th>New Deaths</th>
          </tr>
          </thead>
          <tbody class="bg-white text-center text-black py-4">
            {%for covid19 in covid19_data%}
            <tr class= "">
                <td>{{covid19.date}}</td>
                <td>{{covid19.new_cases}}</td>
                <td>{{covid19.active_cases}}</td>
                <td>{{covid19.new_recovered}}</td>
                <td>{{covid19.currently_admitted}}</td>
                <td>{{covid19.new_tests_conducted}}</td>
                <td>{{covid19.new_discharges}}</td>
                <td>{{covid19.new_deaths}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </section>
     
    {%endblock%}
  
