{%extends 'Moh_profile/base.html'%}

{%load static%}

    {%block body%}
    <div class="container">
     <section class="row top">
      <div class="col-md-6">
         <img src="{% static 'images/moh.jpg'%}" alt="moh" class="moh-img">
         <div class="moh-header">
          <h2 class="moh-heading text-center ">Lorem ipsum dolor sit amet.</h2>
          <h4 class="moh-subheading text-center">Lorem ipsum, dolor sit amet consectetur</h4>
        </div>
      </div>
      
       <div class="col-md-6">
        <h2 class="covid-stats-heading text-success">Covid-19 daily stats</h2>
         <img src="{% static 'images/covid-stats.jpg'%}" alt="covid-stats" class="covid-stats-img">
        
       </div>
     </section>

     <table class="table table-striped container">
      <thead class="t-head thead-dark ">
        <th>Date</th>
        <th>New cases</th>
        <th>Active cases</th>
        <th>New recovered</th>
        <th>Currently admitted</th>
        <th>New Tests conducted</th>
        <th>New discharges</th>
        <th>New deaths</th>
      </thead>
      <tbody class="t-body">
        {%for covid19 in covid19_data%}
        <tr class="table-row">
            <td class="table-data">{{covid19.date}}</td>
            <td class="table-data">{{covid19.new_cases}}</td>
            <td class="table-data">{{covid19.active_cases}}</td>
            <td class="table-data">{{covid19.new_recovered}}</td>
            <td class="table-data">{{covid19.currently_admitted}}</td>
            <td class="table-data">{{covid19.new_tests_conducted}}</td>
            <td class="table-data">{{covid19.new_discharges}}</td>
            <td class="table-data">{{covid19.new_deaths}}</td>
        </tr>
        {%endfor%}
      </tbody>
     
    </table>

     <section class="persons container">
       <div class="col-md-4">
        <div class="card">
          <h2 class="card-header bg-success text-white">
            Health Priorities
          </h2>
          {%for health_priority in health_priorities%}
          <ul class="list-group list-group-flush">
            <h5>{{health_priority.disease}}</h5>
            <h5>{{health_priority.priority}}</h5>
            <li class="list-group-item"><a class="item-link">{{health_priority.content_url}}</a></li>
          </ul>
          {%endfor%}
        </div>
       </div>
       <div class="col-md-8">

       </div>
     </section>

     <section class="row news">
       <h4 class="news-heading text-success">Latest health news and events</h4>
       <div class="col-md-9 news-cards">
        {%for mohevent in mohevents%}
       <div class="col-md-3">
        <div class="card">
          <img src="{{mohevent.event_image}}" class="card-img-top news-img" alt="news">
          <div class="card-body">
            <h5 class="card-title">{{mohevent.event_title}}</h5>
            <p class="card-text">{{mohevent.event_content}}</p>
            <p class="card-text">{{mohevent.event_date}}</p>
            <a href="#" class="btn btn-outline-success">Read More</a>
          </div>
        </div>
       </div>
       {%endfor%}

      <div class="col-md-3">
        <div class="card">
          <h2 class="card-header bg-success text-white">
            Central Hospitals
          </h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="item-link">Kamuzu Central Hospital</a></li>
            <li class="list-group-item"><a class="item-link">Queen Elizabeth Central Hospital</a></li>
            <li class="list-group-item"><a class="item-link">Mzuzu Central Hospital</a></li>
            <li class="list-group-item"><a class="item-link">Zomba Central Hospital</a></li>
          </ul>
        </div>
      </div>
     </section>

     <section class="row">
       <div class="col-md-12 covid-guide">
         <div class="col-md-12-inner">
          <h2 class="covid-19-guide-heading text-success">Covid-19 guidelines for the public</h2>
          <img src="{% static 'images/covid-guide.jpg'%}" alt="" class="covid-19-img">
         </div>
       </div>
     </section>
    </div>
    {%endblock%}
