<footer class="footer__wrapper flex mt-4 bg-green-900 text-white fixed text-center justify-between align-center h-64 relative clearfix sticky mx-auto text-center px-4">
  <div class="footer__nav--links list-none text-lg font-light text-white ml-4 flex justify-between gap-1 w-2/3 my-auto">
    <li class="footer__link--items"><a href="" class="footer__link hover:text-green-900">Home</a></li>
    <li class="footer__link--items"><a href="" class="footer__link hover:text-green-900">About</a></li>
    <li class="footer__link--items"><a href="" class="footer__link hover:text-green-900">Events</a></li>
    <li class="footer__link--items"><a href="" class="footer__link hover:text-green-900">E-services</a></li>
    <li class="footer__link--items"><a href="" class="footer__link hover:text-green-900">Resources</a></li>
    <li class="footer__link--items"><a href="" class="footer__link hover:text-green-900">Vacancies</a></li>
    <li class="footer__link--items"><a href="" class="footer__link hover:text-green-900">Complaints</a></li>
    <li class="footer__link--items"><a href="" class="footer__link hover:text-green-900">Contact</a></li>
  </div>
  <div class="footer__hospitals--links list-none text-lg text-white font-light w-1/3 my-auto">
    <li class="footer__hospital--link-items"><a href="" class="footer__hospital--link hover:text-green-900">kamuzu central hospital</a></li>
    <li class="footer__hospital--link-items"><a href="" class="footer__hospital--link hover:text-green-900">Queen Elizabeth Central hospital</a></li>
    <li class="footer__hospital--link-items"><a href="" class="footer__hospital--link hover:text-green-900">Zomba central hospital</a></li>
    <li class="footer__hospital--link-items"><a href="" class="footer__hospital--link hover:text-green-900">Zomba mental hospital</a></li>
    <li class="footer__hospital--link-items"><a href="" class="footer__hospital--link hover:text-green-900">Mzuzu central hospital</a></li>
  </div>
  <div class="footer__newsletter mt-16 mr-4 w-1/3">
    <form action="/index" method="POST" class="">
      {%csrf_token%}
      <label for = "Subscribe">Subscribe to our daily newsletter</label>: <input type="text" placeholder="please enter your email" name="newsletter" class="w-full py-2 px-4 border-none outline-none bg-white text-gray-700 text-bold hover:border-gray-300 focus:border-gray-300 ring-1" name="news_letter">
      <button class="bg-red-600 px-4 py-2 rounded-lg text-white font-mediam mt-2" type="submit">Subscribe</button>
    </form>
  </div>
</footer>
<section class="last__footer--section bg-gray-900 text-white text-center text-capitalize h-8 px-4">
  <div class="footer__bottom">
    <small class="footer__copyright font-medium font-lg text-center">&copy Ministry of health 2021</small>
  </div>
</section>
