{% load static %}

         <nav class="navbar navbar-expand-lg bg-light container border-0">
          <section class="top-header">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="{% static 'images/mg-logo.png'%}" alt="government logo" class="mg-logo"></a>
                <h1 class="top-header-title text-success">Ministry of Health Malawi</h1>
            </div>
          </section>
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="#">About Us</a>
                <a class="nav-item nav-link" href="#">Events</a>
                <a class="nav-item nav-link" href="#">e-services</a>
                <a class="nav-item nav-link" href="#">resources</a>
                <a class="nav-item nav-link" href="#">vacancies</a>
                <a class="nav-item nav-link" href="#">complaints</a>
                <a class="nav-item nav-link" href="#">contacts</a>
                <a class="nav-item nav-link" href="#"><img src="{% static 'images/malawi-animated.gif'%}" alt="malawi logo" class="malawi-flag"></a>
              </div>            
            </div>
             <button class='mg-email btn btn-success pull-right '>
                <a href="https://mail.gov.mw"><img src="{% static 'images/zimbra_mail.png'%}" alt="Gov Email" class="text-white"> 
                Gov Email
                </a>
          </button>
          </nav>
          snsdsdksfsadjkfads 
  